@import url('https://fonts.cdnfonts.com/css/maiandra-gd');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
:root{
  --theme-color: #F28500;
  --secondary-color: #F28500;
  --tertiary-color: #332cb8;
}
div.large-menus{
  visibility: hidden;
}
.navigation-bar{
  position: relative;
  background-color: var(--theme-color);
  height: 70px;
}
.navbar-brand a{
  margin-top: auto;
  text-decoration: none;
  color: black;
}
h1.logo{
  font-size: 35px;
}
nav.navbar-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 0;
  margin: 0;
  height: 70px;
}
div.navbar-menus{
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}
ul.navbar{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
ul.navbar li{
  padding:0 15px 0 15px;
}
ul.navbar li a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}
button{
  padding: 8px;
  border: 1px solid black;
  margin: 0 5px 0 5px;
  background-color: white;
}
.btn{
  padding:8px 15px 8px 15px;
  border-radius: 5px;
  margin: 5px  10px 5px 10px;
}
.btn-primary{
  background-color: white;
  color: var(--tertiary-color);;
  font-size: 17px;
}
div.navs{
  display: flex;
  flex-direction: column;
}
.btn-default{
  font-size: 17px;
  background-color: var(--tertiary-color);
  color: white;
}
.icon-menu{
  font-size: 30px;
  font-weight: bold;
}
.is-submenu{
  position: absolute;
  display: inline-block;
  margin: 0 2px 0;
  font-size: 20px;
}
.mobile-menu-bar{
  display: none;
}
ul.submenu{
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: start;
  align-content: center !important;
  row-gap: 15px;
  list-style-type: none;
  position: absolute;
  margin-top:20px ;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--theme-color);
  border-radius: 10px;
  left: 10%;
  text-align: left;
  padding-left: 20px;
  z-index: 999;
  visibility: hidden;
}
li.nav-item a.nav-link{
  padding-top: 20px;
  padding-bottom: 20px;
}
li.submenu-item::before{
  content: "✓";
  color: var(--secondary-color);
  border-bottom: 2px solid red;
}
li.submenu-item{
  width: 100%;
}
ul.navbar li.service:hover ul.submenu{
  visibility: visible;
  transition: ease-in-out 2s;
}
.owl-dot{
  display: none !important;
}
.item{
  height: 70vh;
}
div.slider1{
  background:url('../src/Assets/Images/working.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center top;
}
div.slider2{
  background:url('../src/Assets/Images/overhead.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
div.slider3{
  background:url('../src/Assets/Images/demonstration.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top;
}
div.slider4{
  background:url('../src/Assets/Images/office.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: top;
}
div.slider5{
  background:url('../src/Assets/Images/explanation.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
div.slider-content{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 30px;
  background-color: var(--secondary-color);
  height: fit-content;
}
.heading{
  font-size: 40px;
  font-weight: bold;
  color: white;
}
div.quickOrder{
  display: flex;
  flex-direction: row;
  column-gap: 0;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
div.about-us{
  display: flex;
  flex-direction: column;
  margin: 0;
  row-gap: 20px;
  padding: 10px;
  border: 1px solid grey;
  border-right: 1px solid var(--secondary-color);
  background-color: whitesmoke;
  height: 50vh;
  width: 70%;
}
@media (min-width:1800px){
  div.about-us{
    display: flex;
    flex-direction: column;
    margin: 0;
    row-gap: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-right: 1px solid var(--secondary-color);
    background-color: whitesmoke;
    height: 50vh;
    width: 70%;
  }
  div.order-form{
    width: 30%;
    background-color: var(--secondary-color);
    height: 50vh;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
}
.fadedText{
  font-size: 30px;
  color: gray;
}
.secondary-heading{
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family:'Maiandra GD', sans-serif;
}
.explanation{
  font-size: 15px;
  padding-left: 10px;
}
div.order-form{
  width: 30%;
  background-color: var(--secondary-color);
  height: 50vh;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}
.form{
  width: 100%;
  margin: 0;
}
form.form-order{
  padding: 10px;
  width: 100%;
}
.form-group{
  margin:5px 2px;
  width: 100%;

}
h2.quickOrderHeading{
  color: white;
  text-align: center;
}
form input,select{
  width: 100%;
  height: 40px;
}
.form-control{
  border-radius: 10px;
  border: 1px solid gray;
}
::placeholder,.date{
  margin: auto;
  padding-left: 30px;
  font-size: 17px;
  color: gray;
}
select{
  font-size: 17px;
  padding-left: 17px;
  color: gray;
}
button.btn-block{
  margin: 2px;
  width: 100%;
}
@media (min-width :909px){
  div.large-menus{
    visibility: visible;
  }
}
@media (min-width :909px) and (max-width:1800px){
  ::placeholder,.date{
    margin: auto;
    padding-left: 10px;
    font-size: 15px;
    color: gray;
  }
  select{
    font-size: 17px;
    padding-left: 17px;
    color: gray;
  }
  .secondary-heading{
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family:'Maiandra GD', sans-serif;
  }
  
  div.about-us{
    display: flex;
    flex-direction: column;
    margin: 0;
    row-gap: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-right: 1px solid var(--secondary-color);
    background-color: whitesmoke;
    height: 50vh;
    width: 70%;
  }
  div.order-form{
    width: 30%;
    background-color: var(--secondary-color);
    height: 50vh;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
  }
}
@media(min-width:444px) and (max-width:908px){
  div.quickOrder{
    display: flex;
    flex-direction: row;
    column-gap: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 40vh;
  }
  div.about-us{
    display: flex;
    flex-direction: column;
    margin: 0;
    row-gap: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-right: 1px solid var(--secondary-color);
    background-color: whitesmoke;
    height: 40vh;
    width: 50%;
  }
  div.order-form{
    width: 50%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    height: 40vh;
  }
  div.navigation-bar{
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
    left: 0%;
  }
  .heading{
    font-size: 28px;
    font-weight: bold;
    color: white;
  }
  .secondary-heading{
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family:'Maiandra GD', sans-serif;
  }
  .explanation{
    font-size: 15px;
    padding-left: 10px;
  }
  div.slider-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
    background-color: var(--secondary-color);
    width: 70%;
    margin: auto;
    top: calc(40vh - 90%);
    height: 30vh
  }
  .fadedText{
    font-size: 20px;
    color: gray;
  }
  h2.heading{
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  div.explanation p{
    font-size: 15px;
  }
  form.form-order{
    padding: 10px;
    width: 100%;
  }
  .form-group{
    margin:2px 2px;
    width: 100%;
  
  }
  div.mobile-menu-bar{
    display: block;
    color: white;
  }
  p.explanation{
    display: none;
  }
  nav.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding: 10px;
    column-gap: 20px;
  }
  div.auth-buttons{
    display: block;
    transition: ease-in 3s;
  }
  div.navbar-menus{
    display: block;
    width: 100%;
  }
  ul.navbar{
    display: block;
    position: fixed;
    top: calc(80px - 5%);
    left: 0%;
    background-color: whitesmoke;
    width: 100%;
    z-index: 10;
    height: 150px;
    margin: 10px 0;
  }
  .is-submenu,ul.submenu{
    display: none;
  }
  .item{
    height: 40vh;
  }
}
@media (max-width:443px){
  div.slider-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    width: 80%;
    margin: auto;
    row-gap: 0;
    top: 15%;
    height: calc(30vh - 27%)
  }
  h2.heading{
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  div.explanation{
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  div.cta{
    display: none;
  }
  div.navigation-bar{
    width: 100%;
    background-color: var(--secondary-color);
    left: 0%;
    height: 50px;
  }
  .item{
    height: 30vh;
  }
  div.navbar-menus{
    display: none;
  }
  div.mobile-menu-bar{
    display: block;
    color: white;
  }
  nav.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  div.navbar-menus{
    display: block;
    position:fixed;
    background-color: whitesmoke;
    right: 0%;
    width: 100%;
    top: 11%;
    transition: 0.5s ease-in-out;
    z-index: 2;
  }
  ul.navbar{
    display: block;
  }
  .is-submenu,ul.submenu{
    display: none;
  }
  .auth-buttons{
    display: none;
  }
}