*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
:root{
  --theme-color: #FFA500;
  --secondary-color: #F28500;
  --tertiary-color: #0C00F2;
}
.navigation-bar{
  padding: 10px;
  position: relative;
  background-color: var(--theme-color);
  color: white;
}
.navbar-brand a{
  margin-top: auto;
  text-decoration: none;
  color: black;
}
h1.logo{
  font-size: 35px;
}
nav.navbar-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 0;
  margin: 0;
}
div.navbar-menus{
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}
ul.navbar{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
ul.navbar li{
  padding:0 15px 0 15px;
}
ul.navbar li a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}
button{
  padding: 8px;
  border: 1px solid black;
  margin: 0 5px 0 5px;
  background-color: white;
}
.btn{
  padding:8px 15px 8px 15px;
  border-radius: 5px;
  margin: 5px  10px 5px 10px;
}
.btn-primary{
  background-color: var(--theme-color);
  color: white;
  font-size: 17px;
}
.btn-default{
  font-size: 17px;
}