@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: sans-serif;
}

.slider1{
    background: url('./Assets/Images/demonstration.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:bottom
}
.slider2{
    background: url('./Assets/Images/3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:top
}
.slider3{
    background: url('./Assets/Images/overhead.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:top
}
.slider4{
    background: url('./Assets/Images/working.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center
}
.slider5{
    background: url('./Assets/Images/office.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:top
}
.subs{
    background: url('./Assets/Images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}
.about-bg{
    background:url('./Assets/Images/Announcement.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}
.service-bg{
    background: url("./Assets/Images/servicess.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:bottom;
}
.blog-bg{
    background: url("./Assets/Images/blog.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:bottom;
}
.contact-bg{
    background: url("./Assets/Images/Contact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:bottom;
}
.faq-bg{
    background: url("./Assets/Images/FAQ.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:top center;
}
.owl-dots{
    display: none;
}
.form-group{
    @apply flex flex-col w-full gap-1
}
.blog{
    @apply shadow p-2 hover:shadow-primary transition ease-linear duration-500;
  }
.meta-data{
    @apply flex flex-row justify-between items-center;
}
.meta-data-description{
    @apply whitespace-nowrap text-[12px] font-bold text-gray-400 mt-2;
}
.title{
    @apply text-4xl font-bold mb-2 text-gray-400 text-center;
}
.secondary-title{
    @apply text-2xl font-bold text-center;
}
.flex-box{
    @apply flex flex-col md:flex-row justify-center items-center gap-2 w-[90%] m-auto;
}
.logo{
    @apply text-3xl md:text-4xl text-gray-200 px-2 font-bold underline;
}
.payment-method{
    @apply text-white p-1 bg-primary m-2 hover:bg-secondary hover:text-white transition ease-linear duration-500;
}
.links{
    @apply flex flex-col md:flex-row justify-between items-center text-gray-500;
}
.link{
    @apply hover:text-secondary transition ease-in duration-500;
}
.text-primary{
    @apply text-orange-500;
}
.fade {
    @apply text-gray-400;
}
.btn{
    @apply bg-primary mx-2 font-bold text-white p-2 hover:bg-secondary hover:text-white;
}
.form-control{
    @apply  mx-2 font-serif text-slate-500 p-2  border focus:outline-none;
}
.title-footer{
    @apply font-bold text-sm font-serif mt-3 p-2 hover:text-primary transition ease-in duration-500;
}
.footer-item{
    @apply text-left md:w-1/4 w-full;
}
.media {
    @apply flex justify-between items-center gap-2;
}
.media-icon{
    @apply bg-black border border-white p-2 text-4xl rounded-full;
}
.item{
    @apply md:h-[40vh] h-[50vh];
}
.slider-caption{
    @apply bg-primary w-[80%] md:w-[50%] absolute md:top-[10%] lg:top-[25%] lg:w-[30%] top-[10%] left-[10%]  p-2;
}
